@model CodoSchool.Models.DTOs.QuestionDto

@{

    int currQuestion = ViewBag.questionIndex;
}

<form asp-area="" asp-controller="Home" asp-action="Quiz" method="get" id="quizForm">
    <div style="width:100%;padding:5%; max-width:100%;word-wrap:break-word">
        <h2>Question: @(ViewBag.questionIndex + 1)/@ViewBag.questionsCount</h2>
        <input type="hidden" name="question"/>
        <input type="hidden" name="previousQuestion" value="@currQuestion" />

        <p>@Model.QuestionText</p>

        @for (var i = 0; i < Model.Answers.Count; i++)
        {
            if (ViewBag.answerIndex == i)
            {
                <input type="radio" name="answer" value="@i" checked />
            }
            else
            {
                <input type="radio" name="answer" value="@i" />
            }
            <span>@Model.Answers[i].AnswerText;</span>
            <br />

        }


        <button type="submit" class="btn btn-link navbar-btn navbar-link" onclick="questionChange(-1)">Previous</button>
        @if (ViewBag.questionsCount != ViewBag.questionIndex + 1)
        {
            <button type="submit" class="btn btn-link navbar-btn navbar-link" onclick="questionChange(1)">Next</button>
        }
        else
        {
            <button type="submit" class="btn btn-link navbar-btn navbar-link" onclick="completeQuiz()">Complete</button>
        }


    </div>

    <input type="hidden" name="quizStatus" value="1" />
</form>

<script type="text/javascript">

    $(document).ready(function () {
        QuizController.submitHandler();
    });

    function questionChange(step) {
        $('[name=question]').val(@currQuestion+step);
    }
    function completeQuiz() {
        $('[name=question]').val(0);
        $('[name=quizStatus]').val(2);

    }

</script>