@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span id="brand-animated">_</span><span class="codo">Codo</span><span class="school">School</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="About">[About]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">[Contact]</a></li>*@
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <h3>ABOUT US</h3>
                        <p>The subject of development is the Internet site "CodeHipster" of the company "17ST18P", with a dynamic content management system based on the web interface. The purpose of the site: training with the ability to test and assess applicants, the systematic placement of data on programs and techniques for special training, dialogue and interaction</p>
                        <br>
                    </div>                    
                    <div class="col-md-3 col-xs-6 col-md-offset-1">
                            <h3 class="footer-heading">CONTACT US</h3>
                            <ul class="list-unstyled">
                                <li>
                                    Teatralna strit, 34 academy "Step"
                                    <br>Vinnitsya, NY 20000
                                </li>
                                <li>Phone: (0432) 888 - 888</li>
                                <li>Email: email@yourdomain.com</li>
                            </ul>
                        </div>
                    <div class="col-md-2 col-xs-10" style="text-align:center; align-content:center">
                        <h3 style="text-align:center">SOCIAL</h3>                        
                            <ul class="list-inline social-icons">
                                <li style="margin: 10px; float: left"><a href="https://www.facebook.com/comp.academy.step/" ><img src="~/images/Facebook-icon.png" title="Facebook" alt="additional title" style="width: 50px; margin-left: -20%; float: right " /></a></li>
                                <li style="margin: 10px; float: left"><a href="https://plus.google.com/101697631189976317300" ><img src="~/images/google.png" title="Google" alt="additional title" style="width: 50px; float: right " /></a></li>
                                <li style="margin: 10px; float: left"><a href="https://en.wikipedia.org/wiki/ASP.NET" ><img src="~/images/Wikipedia_logo_silver.png" title="Wikipedia" alt="additional title" style="width: 50px; float: right " /></a></li>
                            </ul>                        
                    </div>
                    <div class="col-md-2 col-xs-2 navbar-brand">
                        <div id="rotateText">
                         <p class="codo">_CodoSchool</p>
                        </div>
                    </div>
                    </div>
            </div>
</footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function () {
                setInterval(function () {
                    $("#brand-animated").toggleClass("brand-toggle-class");
                }, 800);
            });
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function () {
                setInterval(function () {
                    $("#brand-animated").toggleClass("brand-toggle-class");
                }, 800);
            });
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
