@model Question

@{

    int currQuestion = ViewBag.questionIndex;
    
}

<form asp-area="" asp-controller="Home" asp-action="Quiz" method="post" id="quizForm">

        <h2>index: @ViewBag.questionIndex</h2>
    <input type="hidden" name="question" value="@currQuestion" />HH<br />

        <input type="radio" name="answer" value="0" checked="checked"/>Bla
        <input type="radio" name="answer" value="1" />Bla1
        <input type="radio" name="answer" value="2" />Bla2

        <input type="radio" name="answer" value="3" />Bla3
    <h1>Answer id is : @ViewBag.answerid</h1>


    

    @if (Model != null)
    {
        <h1>@Model.Id</h1>

    }
     
    <h1>Hello</h1>
    @*<h1>@currQuestion</h1>*@
    <button type="submit" class="btn btn-link navbar-btn navbar-link" onclick="questionChange(-1)">Previous</button>
    <button type="submit" class="btn btn-link navbar-btn navbar-link" onclick="questionChange(1)">Next</button>
   

</form>

<script type="text/javascript">

    $(document).ready(function () {
        QuizController.submitHandler();
    });

    function questionChange(step) {
        $('[name=question]').val(@currQuestion+step);
    }

</script>